<div class="calendar"> 
  <div (click)="toggle = !toggle" >{{day | date:'dd/MMM/yyyy'}}  '&#x25BC;'</div>
  
 
</div>
<div  #calendar class="calendar-container mat-elevation-z3" *ngIf="toggle">
    
          <xunk-calendar [selectedDate]="selDate"
                         
                         (change)="dateChanged($event)"
                         
                         primaryColor="#673ab7"
                         primaryForeground="white">
          </xunk-calendar>
          <button (click)="closingCalendar()"> X Close</button>
          <button (click) = "searchButton()"> Search</button>
</div>

