<div class="calendar">
  <div (click)="toggle = !toggle">
    <span>{{(day || today) | date:'dd/MMM/yyyy'}}</span> 
    <span>&#x25BC;</span> 
  </div>

</div>

<div style.zIndex=10 #calendar class="calendar-container mat-elevation-z3" *ngIf="!toggle">

  <xunk-calendar  [selectedDate]="selDate" (change)="dateChanged($event)" primaryColor="#673ab7"
    primaryForeground="white">
  </xunk-calendar>
  <div>
    <div (click)="closingCalendar()">  X CLOSE</div>
    <div (click) = "searchButton()">  Search</div>
  </div>
</div>