<div class="calendar"> 
  <select class="form-control" >
    <option >{{day | date:'dd/MMM/yyyy'}}</option>
  </select>
 <button>Search</button>
</div>
<div class="calendar-container mat-elevation-z3" *ngIf="false">
    
          <xunk-calendar [selectedDate]="selDate"
                         
                         (change)="dateChanged($event)"
                         
                         primaryColor="#673ab7"
                         primaryForeground="white">
          </xunk-calendar>
</div>