/* You can add global styles to this file, and also import other style files */
body {
    outline: none;
    margin: 0;
    background-color: #131323;
}
.mat-dialog-container {
    padding: 0;
    background-color: #131323;
}
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 