<div class="body">
    <div class="user" *ngIf="auth.isLogged">
    <div>
        <p>Username: {{ username }}</p>
        <span> &nbsp; </span>
        <p>Balance: {{ balance }}</p>
    </div>
    </div>
    <div class="header" [ngClass]="{'head':auth.isLogged}">
        <div class="link">
            <div class="logo" routerLink="/home">VAS<span>Bet</span></div>
        </div>
        <div class="dialog">
            <dialog-content-example *ngIf="!auth.isLogged"></dialog-content-example>
        </div>
        <bets-and-deposit class="rightContent" *ngIf="auth.isLogged"></bets-and-deposit>
    </div>
    <div class="baner"><span><span> {{randomGame.team1}}</span><span>VS</span><span>{{randomGame.team2}}</span> </span>
        <div class="betnow" (click)="betNow(randomGame,target)"
            [routerLink]="['/', 'home', randomGame.categoryName, randomGame.subCategoryName, randomGame.id]">
            BET NOW</div>
    </div>
    <div>
        <slider></slider>
    </div>
</div>

<router-outlet #target></router-outlet>>
<div class="footer">
    <div class="footerLeft">
    <tbody >
        <th>Payment Methods</th><br>
        <tr>Visa card</tr><br>
        <tr>Master card</tr><br>
        <tr>ARCA</tr>
    </tbody>
    <tbody>
        <th>GoBet links</th><br>
        <tr>About GoBet</tr><br>
        <tr>Teams & Conditions</tr><br>
        <tr>Blog</tr>
    </tbody> 
</div>
    <div class="footerRight">
        <div class="logo" routerLink="/home">VAS<span>Bet</span></div>
        <div class="icon">
            <img src="assets/img/icon/facebook.svg" alt="facebook">
            <img src="assets/img/icon/instagram.svg" alt="instagram">
            <img src="assets/img/icon/Mask%20Group%202.svg" alt="twitter">
        </div>
    </div>
</div>
