.user {
  display: flex;
  justify-content: flex-end;
  // background-color: #1D1E33;
  background-image: linear-gradient(to bottom, rgba(85, 85, 138, 0.8), #131323);
  height: 40px;
  width: 99.9%;
  color: #ffffff;
  > div {
    display: flex;
    width: 40%;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-family: sans-serif;
  }
}
.header {
  width: 99.9%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head {
  margin-bottom: 40px;
}
.dialog {
  display: flex;
  width: 120px;
  height: 60px;
  align-items: flex-end;
  margin-right: 176px;
  dialog-content-example {
    display: flex;
  }
}
.logo {
  margin-left: 40px;
  color: #ffffff;
  outline: none;
  display: flex;
  font-size: 40px;
  cursor: pointer;
  font-family: cursive;
  span {
    cursor: pointer;
    color: #5db057;
  }
}

.baner {
  height: 400px;
  width: 70%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  color: #ffffff;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(19, 17, 17, 0.9),
    rgba(46, 43, 43, 0.7),
    rgba(255, 255, 255, 0)
  );
  > span {
    font-size: 40px;
    height: 157px;
    width: 370px;
    margin-top: 30px;
    margin-left: 60px;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  span {
    margin-top: 20px;
  }
  .betnow {
    width: 280px;
    height: 80px;
    background-color: #5db057;
    outline: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    font-family: fantasy;
    margin-left: 105px;
    cursor: pointer;
    animation-duration: 2s;
    animation-name: betPulsation;
    animation-iteration-count: infinite;
  }
}
.footer {
  height: 245px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  border-top: 1px solid #5db057;
  margin-top: 30px;
  box-shadow: 0 -5px 115px 0 #5db057;
  .footerLeft {
    th {
      color: #5db057;
      font-size: 18px;
      font-family: sans-serif;
      font-weight: bold;
    }
    tr {
      font-family: sans-serif;
      margin-bottom: 12px;
      font-size: 16px;
    }
    display: flex;
    width: 40%;
    justify-content: space-evenly;
  }
  .footerRight {
    .logo {
      margin-bottom: 10px;
      margin-left: 0 !important;
    }
    .icon {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

@keyframes betPulsation {
  from {
    transform: scale3d(1, 1, 1);
    background-color: #71c46b;
  }

  50% {
    transform: scale3d(1.17, 1.17, 1.17);
    background-color: #5db057;
    color: rgb(212, 236, 236);
  }

  to {
    background-color: #71c46b;
    transform: scale3d(1, 1, 1);
  }
}



@keyframes balanse {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


.balanceAnimate{
  backface-visibility: visible;
  animation-duration: 2s;
  animation-name: balanse;
  animation-iteration-count: 1;
}