<div class="body">
    <div class="user" *ngIf="auth.isLogged">
        <p>Username:</p>
        <p>Balance:</p>
    </div>
    <div class="header">
        <div class="link">
            <button class="logo" routerLink="/home">LOGO</button>
        </div>
        <bets *ngIf="showBet"></bets>
        <div class="dialog">
            <dialog-content-example *ngIf="!auth.isLogged"></dialog-content-example>
        </div>
        <div class="rightContent"  *ngIf="auth.isLogged">
            <div >
                <div></div>
                <p (click)="openBets()">Bets</p>
                <span></span>
            </div>
            <div>
                <div></div>
                <p>Profile</p>
            </div>
            <div>
                <div></div>
                <p>Deposit</p>
            </div>
            <div (click)="logOut()">
                    <div></div>
                    <p>Logout</p>
            </div>
        </div>
    </div>
    <div>
        <slider></slider>
    </div>
</div>

<router-outlet></router-outlet>
<!-- <footer>
    <ul>
        <li>Payment Methods</li>
        <li>Visa card</li>
        <li>Master card</li>
        <li>ARCA</li>
    </ul>
    <ul>
        <li>GoBet Links</li>
        <li>About GoBet</li>
        <li>Terms & Conditions</li>
        <li>Blog</li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</footer> -->