.container {
    display: inline-block;
    flex-direction: column;
    border: 1px solid grey;
    width: 804px;
    padding: 24px 24px 0 24px;
    .header{
        display: flex;
        flex-direction: row;
        height: 60px;
        width: 40%;
        font-size: 18px;
        margin-top:24px;
        justify-content: space-evenly;
        font-family: "Helvetica Neue, Regular";
    }
    .select {
        display: flex;
        justify-content: space-evenly;
        margin-top:24px;
        .catFilterSelect {
            height: 60px;
            width: 390px;
            border-radius: 4px
        }
        .dateFilterSelect {
            height: 60px;
            width: 390px;
            border-radius: 4px
        }
    }
    .games{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 806px;
        border: 1px solid grey;
        border-radius: 4px;
        height: 83px;
        margin: 24px auto 0;
        justify-content: space-evenly;
        .logo{
            width: 60px;
            height: 60px;
            border: 1px solid grey;
            border-radius: 70px;
            margin-right: 10px;
        }
        .game{
            display: flex;
            width: 451px;
            justify-content: space-between;
            align-items: center;
             height: 52px;
            border: 1px solid grey;
            border-top: none;
            border-bottom: none;
            padding: 10px;
        }
        .bet{
            button{
                height: 40px;
                width: 180px;
                justify-content: center;
            }
        }
    }
}
.categories {
    display: flex;
    width: 99.9%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-points-y: 10px;
    margin-left: 34px; 
    div{
        border: 1px solid grey;
        width: 192px;
        height: 180px;
        border-right: none;
    } 
    .logo {
        width: 80px;
        height: 80px;
        border: 1px solid grey;
        border-radius: 40px;
        margin: 24px auto 0;
    }
    p {
        display: flex;
        justify-content: center;
        font-family: "Helvetica Neue, Regular";
        font-size: 18px;
        margin-bottom: 0;
        cursor: pointer;
    }
}
        #date{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 576px;
            align-items: center;
            p{
                // justify-content: center
                margin-bottom: 24px;
                font-family: "Helvetica Neue, Regular";
                font-size: 18px;
            }
        }
        #catBody{
            display: flex;
            ::-webkit-scrollbar {
                height: 10px;
             }::-webkit-scrollbar-track {
                      background: #bbb1b1; 
                    }::-webkit-scrollbar-thumb {
                      background: rgb(49, 49, 49); 
                    }::-webkit-scrollbar-thumb:hover {
                        background: rgb(22, 22, 22); 
                    }
        }

.allGames {
    width: 99.9%;
    display: flex;
    justify-content: center;
    .subCategories {
        overflow: auto;
        float: left;
        border: 1px solid black;
        width: 376px;
        padding: 24px 24px 0 24px;

        .subCat {
            display: flex;
            border: 1px solid black;
            border-radius: 3px;
            margin-bottom: 8px;
            padding-top: 20px;
            padding-left: 24px;
            height: 40px;
            cursor: pointer;
            .inSubCat{
                display: flex;
                width: 8px;
                height: 30px;
                border: 1px solid grey;
                border-radius: 4px;
            }
        }
    }
}



