<mat-progress-bar mode="indeterminate" *ngIf="notloaded"></mat-progress-bar>

<div id="catBody" *ngIf="!notloaded">
    <div class="categories">
        <div (click)="showGamesWithCategory('allSports')">
            <div *ngIf="currentCategory == 'allSports'; else elseBlock1">
                <img class="logo" src="assets/img/Gameslogos80X80/Allgames{{greenPicture}}.svg">
            </div>
            <ng-template #elseBlock1>
                <div><img class="logo" src="assets/img/Gameslogos80X80/Allgames.svg"></div>
            </ng-template>

            <span [ngClass]="{'checkCat': (currentCategory == 'allSports')}">All Sports</span>
            <span
                [ngClass]="{'checkCat': (currentCategory == 'allSports')}">{{(allGames| dateFilter : nextHours: selectedDayFromCalendar.day).length}}</span>
        </div>

        <div *ngFor="let cat of categories | gamesFilter : allGames ">
            <div (click)="showGamesWithCategory(cat.name)">
                <div *ngIf="(cat.name == currentCategory); else elseBlock">
                    <img class="logo" src="assets/img/Gameslogos80X80/{{cat.name+greenPicture}}.svg">
                </div>
                <ng-template #elseBlock>
                    <div><img class="logo" src="assets/img/Gameslogos80X80/{{cat.name}}.svg"></div>
                </ng-template>
                <span [ngClass]="{'checkCat': (cat.name == currentCategory)}">{{cat.name}}</span>
                {{cat.length}}
                <span
                    [ngClass]="{'checkCat': (cat.name == currentCategory)}">{{((allGames| dateFilter : nextHours: selectedDayFromCalendar.day)|gameslengths:cat).length}}</span>
            </div>
        </div>

    </div>
    <div id="date">
        <p>Select Day</p>




        <app-calendar></app-calendar>


    </div>
</div>
<div class="allGames" *ngIf="!notloaded">
    <div class="subCategories">
        <div #subCategory (click)="showGamesWithSubCategory(subCat)" class="subCat"
            *ngFor="let subCat of filteredSubCategories | subCategoriesFilter : allGames">
            <div>
                <span [ngClass]="{'inSubCat': (currentSubCategory && subCat == currentSubCategory)}"></span>
                <span>{{subCat}}</span>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="!params?.id">
        <div class="select">
            <select #category2 (change)="showGamesWithCategory(category2.value)" class="catFilterSelect">
                <option [value]="cat.name"
                    *ngFor="let cat of categories | gamesFilter : (allGames | dateFilter :  nextHours : selectedDayFromCalendar.day)">
                    {{cat.name}}
                </option>
            </select>
            <select #selectedTime (change)='selectTime(selectedTime.value)' class="dateFilterSelect">
                <option *ngFor="let hour of hoursSelect " [value]="hour.value" [selected]="hour.value==nextHours">
                    {{hour.text}}</option>
            </select>
        </div>
        <div class="games" *ngFor="let game of filteredGames | dateFilter : nextHours: selectedDayFromCalendar.day">
            <img class="logo" src="assets/img/Gameslogos60X60/{{game.categoryName}}.png">
            <div class="game">
                <div>
                    <p>{{game.team1}}</p>
                    <p>{{game.team2}}</p>
                </div>
                <div>
                    <p>{{game.start_time.seconds*1000 | date:'longDate'}}</p>
                    <p>{{game.start_time.seconds*1000 | date:'shortTime'}}</p>
                </div>

            </div>
            <div class="bet">
                <button type="button" (click)="getCurrentGame(game)"
                    [routerLink]="['/', 'home', game.categoryName, game.subCategoryName, game.id]">Details
                </button>
            </div>
        </div>
        
        <div class="emptyGames games" *ngIf="(filteredGames| dateFilter : nextHours: selectedDayFromCalendar.day).length==0">No Result</div>
    </div>
    <app-game-details *ngIf="params?.id" class="game-details"></app-game-details>
</div>