<div class="catBody">
    <div class="categories">
        <div *ngFor="let cat of categories | gamesFilter : (allGames | dateFilter : availableGames)">
            <div>
                <div class="logo"></div>
                <p (click)="showGamesWithCategory(category.innerHTML)" #category>{{cat.name}}</p>
            </div>
        </div>
    </div>
    <div id="date">
        <app-calendar></app-calendar>
    </div>
</div>

<div class="allGames">
    <div class="subCategories">
        <div  *ngFor="let subCat of allSubCategories | subcategoriesFilter : (allGames | dateFilter : availableGames) : sxmacSubcategoriID"
        (click)="showGamesWithSubCategory(subCat.name)" class="subCat" >
                
            {{subCat.name}}

           
        </div>
    </div>

    <div class="container">
        <div class="header">
            <a href="">
                <p>Home</p>
            </a>
            <a href="">
                <p>Home</p>
            </a>
            <a href="">
                <p>Home</p>
            </a>
            <a href="">
                <p>Home</p>
            </a>
        </div>
        <div class="select">
            <select>
                <option value="values"></option>
            </select>
            <select>
                <option value="values"></option>
            </select>
        </div>
        <div class="games" *ngFor="let game of filteredGames   ">
            <div class="logo"></div>
            <div class="game">
                <div>
                    <p>{{game.team1}}</p>
                    <p>{{game.team2}}</p>
                </div>
                <div>
                    <p>{{game.start_time.seconds*1000| date :'longDate'}}</p>
                    <p>{{game.start_time.seconds*1000 | date:'shortTime'}}</p>
                </div>

            </div>
            <div class="bet">
                <div>
                    <div>
                        <p>{{game.team1}}</p>
                        <p>{{game.odds.team_1}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>X</p>
                        <p>{{game.odds.draw}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>{{game.team2}}</p>
                        <p>{{game.odds.team_2}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>