<div #scroll class="container">
  <div class="info">
    <div class="team1">
      <span>{{ currentGame?.team1 }}</span>
    </div>
    <div class="about">
      <span>{{ currentGame?.start_time.seconds*1000 | date:'d MMMM hh:mm' }}</span>
      <br>
      <span>{{ currentGame?.subCategoryName }}</span>
    </div>
    <div class="team2">
      <span>{{ currentGame?.team2 }}</span>
    </div>
  </div>
  <div class="bets">
    <div class="betting-amount" *ngIf="bettingAmount && gameDetails.selectedBet">
      <div>
        <div class="bettinFirstChild">
      <span style="color: white; font-size: 21px">Betting Amount</span>
      <span style="color: #9B9B9B; font-size: 16px">(Min 1000 AMD)</span>
      </div> 
      <div class="bettingLastChild">
      <input class="amount" type="number" placeholder="ex 1000 AMD" [formControl]="bettingAmountControl"
              [ngClass]="{'invalid-border': bettingAmountControl.errors && (bettingAmountControl.dirty || bettingAmountControl.touched)}">
              <span style="color: white; margin-right: 80px">Winning price - {{ bettingAmountControl.value * gameDetails.selectedOdd.toFixed(2)}}</span>
      </div>
    </div>
    <div>
      <button class="bet"  [_persistance]="placeBet" [disabled]="bettingAmountControl.value < 1000">Bet</button>
    </div>
    </div>
    <div class="bets-info" appSelectedOdd>
      <div class="winner">
        <div>
          <span>{{ currentGame?.team1 }} to Win</span>
        </div>
        <div  class="bets-over">
          <div class="overX" [ngClass]="{'betUp': betUp , 'betDown': betDown}">
            <p>Over 0.5</p>
            <p class="odd" name="team_1:0">{{ currentGame?.odds['team_1:0'] }}</p>
          </div>
          <div class="overX" #team_1:1>
            <p>Over 1.5</p>
            <p class="odd" name="team_1:1">{{ currentGame?.odds['team_1:1'] }}</p>
          </div>
          <div class="overX" #team_1:2>
            <p>Over 2.5</p>
            <p class="odd" name="team_1:2">{{ currentGame?.odds['team_1:2'] }}</p>
          </div>
          <div class="verticalLine"></div>
          <div class="place-bet" (click)="showBettingAmount($event)"><p>Place Bet</p></div>
        </div>
      </div>
      <div class="winner">
        <div>
          <span>{{ currentGame?.team2 }} to Win</span>
        </div>
        <div class="bets-over">
          <div class="overX" #team_2:0>
            <p>Over 0.5</p>
            <p class="odd" name="team_2:0">{{ currentGame?.odds['team_2:0'] }}</p>
          </div>
          <div class="overX" #team_2:1>
            <p>Over 1.5</p>
            <p class="odd" name="team_2:1">{{ currentGame?.odds['team_2:1'] }}</p>
          </div>
          <div class="overX" #team_2:2>
            <p>Over 2.5</p>
            <p class="odd" name="team_2:2">{{ currentGame?.odds['team_2:2'] }}</p>
          </div>
          <div class="verticalLine"></div>
          <div class="place-bet" (click)="showBettingAmount($event)"><p>Place Bet</p></div>
        </div>
      </div>
      <div class="winner">
        <div>
          <span>Draw no bet</span>
        </div>
        <div class="bets-over">
          <div class="overX" #draw:0>
            <p>Draw on 0</p>
            <p class="odd" name="draw:0">{{ currentGame?.odds['draw:0'] }}</p>
          </div>
          <div class="overX" #draw:1>
            <p>Draw on 1</p>
            <p class="odd" name="draw:1">{{ currentGame?.odds['draw:1'] }}</p>
          </div>
          <div class="overX" #draw:2>
            <p>Draw on 2+</p>
            <p class="odd" name="draw:2">{{ currentGame?.odds['draw:2'] }}</p>
          </div>
          <div class="verticalLine"></div>
          <div class="place-bet" (click)="showBettingAmount($event)"><p>Place Bet</p></div>
        </div>
      </div>
    </div>
  </div>
</div>