.button {
    margin-right: 16px;
}

button {
    padding: 0;
    border: 0px;
    height: 55px;
    width: 110px;
    color: #ffffff;
    background-color: #7A7B9B;
    font-family: 'Helvetica Neue,Regular';
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}:last-child{
    background-color: #5DB057;
    cursor: pointer;
}
