.login {
  .closeButton {
    float: right;
    color: #ffffff;
  }
  div {
    color: #ffffff;
    :first-child {
      font-size: 24px;
      margin-bottom: 6px;
    }
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 420px;
      height: 50px;
      margin-bottom: 18px;
      border-radius: 4px;
      font-size: 16px;
    }
    button {
      width: 420px;
      height: 50px;
      margin-bottom: 18px;
      font-size: 16px;
      border-radius: 4px;
      background: #5db057;
      color: #ffffff;
      cursor: pointer;
    }
    :nth-last-child(2) {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: space-between;
      span {
        font-size: 16px;
        input {
          width: 20px;
          height: 20px;
        }
      }

      u {
        font-size: 16px;
      }
    }
    :last-child {
      margin-top: 6px;
      font-size: 24px;
      font-family: Helvetica Neue, Regular;
    }
  }
}

.errorMesages {
  flex-direction: column;
  align-items: center;

  border: 1px solid #ff0000;
  border-left: 6px solid #f87474 ;
  background-color: #ffeaea !important;
  color: #f87474 !important ;
  margin: 24px auto 0 0;
  padding-top: 17px;
  padding-bottom: 14px;
  border-radius: 3px;
  font-size: 18px;
  width: 90%;
}

.forgotPassword {
  .closeButton{
    color: #ffffff;
    float: right;
  }
  div {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    :first-child {
      font-size: 24px;
      margin-bottom: 6px;
    }

    input {
      width: 420px;
      height: 50px;
      margin-bottom: 18px;
      font-size: 16px;
      border-radius: 4px;
      color: black !important;
    }
    button {
      width: 420px;
      height: 50px;
      margin-bottom: 18px;
      border-radius: 4px;
      color: #ffffff;
      font-size: 16px;
      background: #5db057;
      cursor: pointer;
    }
  }
}