form{
    width: 500px;
    height: 548px;
}
#frgotPasword{
    display: block;
}
#goToReg{
    display: block;
}

input.ng-valid {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  input.ng-pristine{
    border-left: 5px solid #42A948;
  }

  .close {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #707070;
    position: relative;
    top: -62px;
    left: 728px;
}


.mat-button {
  margin-left: 0;
  min-width: auto;
  line-height: 0;
  padding: 0;
}
  