<div class="container">
  <div>
  <form [formGroup]="logForm" (ngSubmit)="login()">
    <button class="closeButton" mat-button mat-dialog-close>X</button>

    <div *ngIf="!forgotPassword">
      <div class="header">Login Your accaunt</div>
      <div class="inputsDiv3">
        <input type="mail" formControlName="mail" placeholder="mail">
        <input type="password" formControlName="password" placeholder="password">
        <button type="submit">Sign in</button>
      </div>

      <div class="checkButton">
          <span> <input type="checkbox"  [(ngModel)]="checked"> Remember me</span>
        <span>  <u (click)="inputsTogling()" id="frgotPasword">Forgot Your Password?</u></span>
      </div>


      <a href="" class="gotoReg"> Don't have an account? Sign up!</a>
      <div class="errorr" [@stateAnimation]="start" *ngIf="errorMessage">{{errorMessage}}</div>

    </div>





    <!-- <div [@stateAnimation]="start" *ngIf="password.invalid && (password.dirty || password.touched)">
    <div [@stateAnimation]="start" *ngIf="password.errors.required">
      password is required.
    </div>
    <div [@stateAnimation]="start" *ngIf="password.errors.minlength">
      password must be at least 4 characters long.
    </div>
  </div> -->


    <!-- Forgot Password sxmeluc esa bacvelu -->

    <div *ngIf="forgotPassword">
      <div class="frgpassword">Forgot Your Password?</div>
      <div><input class="frgInput" type="mail" formControlName="mail" placeholder="mail"></div>
      <button (click)="resetPassword()" type="button" [disabled]="!mail.valid">Reset Password</button>
      <div class="errorr" [@stateAnimation]="start" *ngIf="errorMessage">{{errorMessage}}</div>


    </div>

    <div class="errorr" [@stateAnimation]="start" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
      <!-- <div [@stateAnimation]="start" *ngIf="mail.errors.required">
      Name is required.
    </div> -->
      <div [@stateAnimation]="start" *ngIf="mail.errors.email">
        Please enter a valid email address
      </div>
    </div>

  </form>
</div>
</div>