<div class="login" *ngIf="state=='login'">

  <button class="closeButton" mat-button mat-dialog-close>X</button>

  <div>
    <form [formGroup]="logForm" (ngSubmit)="login()">

      <div>Login Your accaunt</div>

      <div><input type="mail" formControlName="mail" placeholder="mail"></div>
      <div><input type="password" formControlName="password" placeholder="password"></div>
      <div class="errorMesages" [@stateAnimation]="start" *ngIf="errorMessage">{{errorMessage}}</div>
      <button type="submit" [disabled]="logForm.invalid">Sign in</button>

      <div>
        <span> <input type="checkbox" (change)="checked = !checked"> <span>Remember me</span> </span>
        <span> <u (click)="state = 'forgotPassword'">Forgot Your Password?</u></span>
      </div>

      <div><a (click)="openRegistationPage()"> Don't have an account? Sign up!</a></div>
    </form>

  </div>
  

  <div class="errorMesages" [@stateAnimation]="start" *ngIf="mail.invalid && (mail.dirty || mail.touched)"
   >
    <span>Name is required</span>

  </div>

  <div class="errorMesages" [@stateAnimation]="start" *ngIf="password.invalid && (password.dirty || password.touched)"
    >
    <span>password is required.</span>
  </div>
</div>

<div class="forgotPassword" *ngIf="state=='forgotPassword'">

  <button class="closeButton" mat-button mat-dialog-close>X</button>

  <div>
    <div>Forgot Your Password?</div>

    <form class="forgot-password-form" [formGroup]="forgotPasswordForm">
      <div><input type="mail" formControlName="mail" placeholder="Email Addres"></div>
      <button (click)="resetPassword()" type="button" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
    </form>

    <div class="errorMesages" [@stateAnimation]="start" *ngIf="errorMessage">{{errorMessage}}</div>
  </div>