
.rightContent{
    display: flex;
    flex-direction: row;
    width: 317px;
    justify-content: space-around;
    >div{
        flex-direction: column;
        height: 44px;
        width: 44px;
        cursor: pointer;
        
        p {
            font-family: "Helvetica Neue, Regular";
            font-size: 18px;
            color: #ffffff;
            margin: 8px auto 0;
        }
    }
}

.circule{
    color: #ffffff;
    height: 18px;
    width: 18px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FF0000;
    margin-top: -16px;
    margin-right: -4px;
    position: relative;
}
.bets {
    width: 600px;
    height: 444px;
    right: 240px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    background-color: #1D1E33;
    cursor: default;
    box-shadow: 0px 0px 10px 8px rgba(93, 176, 87,0.8);
    >div {
        h3 {
            font-size: 20px;
            font-family: "Helvetica Neue, Regular";
            color: #ffffff;
            display: flex;
            justify-content: center;
            border: 1px solid grey;
        }
        .circuleEndGreen{
            height: 16px;
            width: 16px;
            background-color: #12F000;
            border-radius: 20px;
            margin: 8px;
        }
        .circuleEndRed{
            height: 16px;
            width: 16px;
            background-color: red;
            border-radius: 20px;
            margin: 8px;
        }
        .circuleOngoin{
            height: 16px;
            width: 16px;
            background-color: #ffffff;
            border-radius: 20px;
            margin: 8px;
        }
        div{
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #ffffff;
            font-size: 20px;
            font-family: "Helvetica Neue, Regular";
        }
        .ongoing{
            div{
                display: flex;
                justify-content: space-evenly;
            }
            .del{
                transform: rotate(45deg);
                font-size: 30px;
                cursor: pointer;
            }
        }
        button {
            width: 180px;
            height: 40px;
            border-radius: 4px;
            background-color: #7A7B9B;
            font-size: 20px;
            color: #ffffff;
            margin: 13px;
        }
    }
}

.deposit{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 455px;
    height: 400px;
    color: #ffffff;
    font-family: 'Helvetica Neue, Regular';
    button{
        color: #ffffff;
    }
    
    .depositWithdrawal{
        width: 407px;
        height: 40px;
        flex-direction: row;
        display: flex;
        align-items: center;
        background: #1D1E33;
        padding: 10px;
        margin-top: -10px;
        border-radius: 6px;
        div {
            margin-right: 10px;
            cursor: pointer;
        }
    }
    .cardDetails{
        width: 407px;
        height: 338px;
        background: #1D1E33;
        padding: 10px;
        margin-top: 12px;
        border-radius: 6px;
        h3{
            margin-top: 0 !important;
        }
        div {
            display: flex;
            justify-content: space-between;
            input{
                width: 180px;
                height: 32px;
                border-radius: 4px;
            }
        }
    }
    .expiryDate{
        input{
            width: 86px !important;
        }:first-child{
            margin-right: 4px;
        }
    }
    p{
        font-size: 16px;
        font-family: sans-serif;
        span{
            font-size: 12px;
            color: #9B9B9B;
        }
    }
}
.dep{
    width: 180px;
    height: 32px;
    background-color: #5DB057;
    border-radius: 4px;
    justify-content: center !important;
    float: right !important;
    padding-left: 4px;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
}
.check{
    color: #5DB057;
}



@keyframes betWinCircule{
    from {
        height: 16px;
        width: 16px;
        float: right;
        display: flex;
        align-items: center;
    }
        
      
    to {
        width: 24px;
        height: 24px;
        float: right;
        display: flex;
        align-items: center;      
    } 
}
.betsAnimation{
      span{
        animation: betWinCircule 500ms;
        animation-iteration-count: infinite;
        animation-direction:alternate
    }
}

.invalid-border {
    border: 1px solid #F87474;
}
