<div class="rightContent">
  <div (click)="openBets($event)">
    <div [ngClass] = "{betsAnimation:animationPlay}">
        <img src="assets/img/icon/Mask%20Group%2016.svg">
        <span class="circule">{{ unreadMessages }}</span>
    </div>
   
    <p>Bets</p>
    <div class="bets" *ngIf="showBet">
      <div>
        <h3>Ended Bets</h3>
        <div *ngFor="let game of endedBets">
          <div>
            <div [ngClass]="{'circuleEndGreen' : game.win, 'circuleEndRed' : !game.win}"></div>
            <div>{{game.team1}} vs {{game.team2}}</div>
          </div>
        </div>
      </div>
      <div>
        <h3>Ongoing Bets</h3>
        <div *ngFor="let game of ongoingBets">
          <div class="ongoing">
            <span class="circuleOngoin"></span>
            <div> <span>{{game.team1}}</span><span>vs</span><span>{{game.team2}}</span> </div>
            <span class="del" *ngIf="game.showDeleteButton" (click)="deleteBet(game, $event)">+</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div (click)=openDeposit()>
    <img src="assets/img/icon/Mask%20Group%2015.svg">
    <p>Deposit</p>
  </div>
  <div (click)="logOut($event)">
    <img src="assets/img/icon/Mask%20Group%2014.svg">
    <p>Logout</p>
  </div>
</div>