<div class="deposit">
    <div class="depositWithdrawal">
        <div  (click)="opneDeposit()" [ngClass]="{'check': showDeposit}" ><span>Deposit</span></div>
        <div  (click)="opneWithdrawal()" [ngClass]="{'check': !showDeposit}"><span> Withdrawal</span></div>

    </div>
    <div class="cardDetails" *ngIf=showDeposit>
        <div>
            <h3>Please Enter Your Card Details!</h3>
        </div>
        <div>
            <p>Card Number</p>
            <input type="text" placeholder="ex. 1234-1234-1234-1234">
        </div>
        <div>
            <p>Expiry Date</p>
            <div class="expiryDate">
                <input type="text" placeholder="mm">
                <input type="text" placeholder="yyyy">
            </div>
        </div>
        <div>
            <p>Card Holder`s Name</p>
            <input type="text" placeholder="ex. Jhon Smith">
        </div>
        <div>
            <p>CVC Number</p>
            <input type="number" placeholder="ex 123">
        </div>
        <div>
            <p>Deposit Amount <br>
                <span>(Min. 5000AMD)</span>
            </p>
            <input type="text" placeholder="ex 5000">
        </div>
        <button class="dep" mat-dialog-close >Deposit</button>
    </div>
    <div class="withdrawal" *ngIf="!showDeposit">
        <div class="cardDetails">
            <div>
                <h3>How much would you like to Withdraw ? </h3>
            </div>
            <div>
                <p>Withdraw Amount <br>
                    <span>(Min. 5000 AMD)</span>
                </p>
                <input type="text" placeholder="ex. 5000">
            </div>
            <button class="dep" mat-dialog-close>Withdrawl</button>
        </div>
    </div>
</div>
